src/main/xsd/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
  elementFormDefault="qualified">

  <xs:element name="root" type="Root">
  </xs:element>
  
  <xs:complexType name="Root">
    <xs:attribute name="default" default="foo" use="optional"/>
  </xs:complexType>
</xs:schema>
